<p>
    <div id='{{ with .Get "key" }}{{ . }}{{ end }}'></div>
    <script src="/js/asciinema-player.min.js"></script>
    <script>

        opts = {
          {{ if .Get "cols" }}cols:{{ .Get "cols" }},{{ end }}
          {{ if .Get "rows" }}rows:{{ .Get "rows" }},{{ end }}
          {{ if .Get "fit"}}fit:"{{ .Get "fit" }}",{{ end }}
          {{ if .Get "autoplay" }}autoplay:"{{ .Get "autoplay" }}",{{ end }}
          {{ if .Get "preload" }}preload:"{{ .Get "preload" }}",{{ end }}
          {{ if .Get "loop" }}loop:"{{ .Get "loop" }}",{{ end }}
          {{ if .Get "start-at" }}start-at:{{ .Get "start-at" }},{{ end }}
          {{ if .Get "speed" }}speed:{{ .Get "speed" }},{{ end }}
          {{ if .Get "idle-time-limit" }}idle-time-limit:"{{ .Get "idle-time-limit" }}",{{ end }}
          {{ if .Get "poster" }}poster:"{{ .Get "poster" }}",{{ end }}
          {{ if .Get "font-size" }}font-size:"{{ .Get "font-size" }}",{{ end }}
          {{ if .Get "theme" }}theme:"{{ .Get "theme" }}",{{ end }}
          {{ if .Get "title" }}title:"{{ .Get "title" }}",{{ end }}
          {{ if .Get "author" }}author:"{{ .Get "author" }}",{{ end }}
          {{ if .Get "author-url" }}author-url:"{{ .Get "author-url" }}",{{ end }}
          {{ if .Get "author-img-url" }}author-img-url:"{{ .Get "author-img-url" }}",{{ end }}
        }

      AsciinemaPlayer.create('https://raw.githubusercontent.com/lyarwood/demos/main/{{ with .Get "key" }}{{ . }}{{ end }}', document.getElementById('{{ with .Get "key" }}{{ . }}{{ end }}'), opts)
    </script>
</p>